.App {
  text-align: center;
}

.App-logo {
  max-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gumb{
  width: 100%;
  margin-bottom: 0.5rem;
}

.broj{
  text-align:right;
}

.sredina{
  text-align: center;
}

.mojnaslov
{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.oglasnaslov
{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.mojakartica
{
  width: 250px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.mojlink
{
font-weight: bold;
text-decoration: none;
}

.mojredak
{
  margin-top: 40px;
  margin-bottom: 40px;
}



.podnaslov
{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0px;
}

.mojznak
{
  width: 250px;
  margin-left: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.fotkaoglas
{
width: 150px;
}

.mojdiv
{
  background-color: white;
  display: flex;
  width: 75%;
  justify-content:center;
  margin:0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.mojheader
{
  padding-left: 0;
  padding-right: 0;
}